@import url('"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

body {
    background-image: linear-gradient(to right, #434343 0%, rgb(0, 0, 0) 100%);
    margin: auto;
    overflow-x: hidden;
    padding: 0;
}

nav .menu-login {
    display: flex;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 100%;
    justify-content: center;
    gap: 5vh;
    z-index: 1;

}

nav .item-menu {
    margin-top: 2vh;
    text-decoration: none;
    color: white;
    position: relative;
    text-shadow: 0px 0px 10px #f0f0f0,
        0px 0px 10px #ffffff;
    font-size: 1.2rem;
    transition: .2s;

}

nav .item-menu:hover {
    transform: scale(1.1);
    transition: .5s;
    color: #00e016;
    text-shadow: 2px 2px 12px #00e016,
        2px 2px 12px #00e016,
        2px 2px 12px #00e016;
}



.textLogo1 {
    font-weight: bold;
    font-size: 1.8rem;
    color: #00b800;
    text-transform: uppercase;
}

.textLogo2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

}

.logo2 {
    margin-top: 0.5rem;
    margin-right: 3vh;
    right: 0;
    top: 0;
    position: absolute;
}

.logo2:hover {
    cursor: pointer;
}


.icon {
    background-color: transparent;
}

.icon:hover {
    cursor: pointer;
}



.item-menu-mobile {
    margin-top: 2vh;
    text-decoration: none;
    color: white;
    position: relative;
    text-shadow: 0px 0px 10px #f0f0f0,
        0px 0px 10px #ffffff;
    font-size: 1.2rem;
    transition: .2s;
    backdrop-filter: blur(10px);
    

}

.item-menu-mobile:hover {
    transition: .5s;
    color: #00e016;
    text-shadow: 2px 2px 12px #00e016,
        2px 2px 12px #00e016,
        2px 2px 12px #00e016;
}

.items-before-menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vh;
    margin-inline-end: 3vh;

}

.enlaces-mobile {
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
    margin: 2vh 2vh;
    position: fixed;
    z-index: 1;
    display: none;
}


.hidden {
    display: none;
}

.show {
    display: flex;

}

.more {
    display: none;
}

.menu {
    backdrop-filter: blur(10px);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
  
  .hidden {
    display: none;
  }
  
  .item-menu-mobile {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
  }
  

@media screen and (max-width:1400px) {

    .textLogo1 {
        font-size: 1.4rem;
    }

    .textLogo2 {
        font-size: 1.4rem;
    }

    .logo2 {
        margin-top: 0.7rem;
    }

}

@media screen and (max-width:1240px) {
    .logo2 {
        display: none;
    }
}

@media screen and (max-width:880px) {
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .more {
        display: flex;
        margin-left: 1rem;
    }

    .items-before-menu-mobile {
        gap: 40rem;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:850px) {

    .items-before-menu-mobile {
        gap: 38rem;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:800px) {

    .items-before-menu-mobile {
        gap: 36rem;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:770px) {

    .items-before-menu-mobile {
        gap: 34rem;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:740px) {
  
    .items-before-menu-mobile {
        gap: 32rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:710px) {
  
    .items-before-menu-mobile {
        gap: 30rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:690px) {
  
    .items-before-menu-mobile {
        gap: 28rem;
        display: flex;
        flex-direction: row;
    }

}


@media screen and (max-width:660px) {
  
    .items-before-menu-mobile {
        gap: 26rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:630px) {
  
    .items-before-menu-mobile {
        gap: 24rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:600px) {
  
    .items-before-menu-mobile {
        gap: 22rem;
        display: flex;
        flex-direction: row;
    }

}


@media screen and (max-width:545px) {
  
    .items-before-menu-mobile {
        gap: 20rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:515px) {
  
    .items-before-menu-mobile {
        gap: 18rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:485px) {
  
    .items-before-menu-mobile {
        gap: 16rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:455px) {
  
    .items-before-menu-mobile {
        gap: 14rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:425px) {
  
    .items-before-menu-mobile {
        gap: 12rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:385px) {
  
    .items-before-menu-mobile {
        gap: 10rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:355px) {
  
    .items-before-menu-mobile {
        gap: 8rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:325px) {
  
    .items-before-menu-mobile {
        gap: 6rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:285px) {
  
    .items-before-menu-mobile {
        gap: 4rem;
        display: flex;
        flex-direction: row;
    }

}

@media screen and (max-width:260px) {
  
    .items-before-menu-mobile {
        gap: 2rem;
        display: flex;
        flex-direction: row;
    }

}